*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
    
  }


  body{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  h1{
    position: relative;
    margin-top: 1%;
    margin-left: -80%;
    margin-bottom: 5%;
  }
  .texto{
    width: 75%;
    height: 5%;
    box-shadow: 10px 5px 5px gray;
    margin-bottom: 50px;
    border: 2px solid #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 2px;
  }

.CTNcontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
}



.delet{
cursor: pointer;

}
.empty{
    display: none;
    font-style: italic;
    font-size: 60px
}
.CTNdiv{

    display: flex;
    padding: 10px;
    border-bottom: 2px solid black;
}
.CenterDiv{
    margin-left: 20px;
    margin-right: 20px;
}
.CTNcontainer{

    background-color: blueviolet;
    width: 500px;
    height: 500px;
}   
.MainDiv{
    
    text-align: left;
    border: 2px solid black;
}
.EachDiv{
    display: flex;
    margin-bottom: 10px;
    
}
.EachDiv:hover{
    background-color: #ccc;
    color: white;
    
}
.boton{
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: black;
    width: 75vh;
    height: 3vw;
    cursor: pointer;
}
.boton:hover {
    background-color: #555555;
    color: white;
  }
  .equis{
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
    
  }
  .equis:hover{
font-size: 50px;
    
  }
  .box{
    cursor: pointer;
display: inline;
margin-right: 10px;
margin-left: 7px;
}
.box:hover{
    box-shadow: 1px 1px 5px gray;
    }
txt{
    display: inline;

  }